.gradient-color {
    background: $orange-blue-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animate-appear {
    animation-duration: 0.8s;
    animation-name: animate-appear;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul > li {
    margin-bottom: 0.5rem;
}

.section {
    padding: 1.5rem;

    & > .title {
        font-weight: var(--bulma-weight-light);
        padding-top: 2rem;
    }
}
